.item-container {
  position: relative;
  display: flex;
  width: 576px;
  height: 212px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

  &:hover {
    .remove-button {
      opacity: 1;
    }
  }

  .img-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
  }

  .infos-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    height: 100%;
    padding: 24px;
    word-break: break-all;
  }

  .item-name {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 28px;
    width: 240px;
    height: 60px;
    max-width: 100%;
    overflow: hidden;
  }

  .item-description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $grey-placeholder-text;
    overflow: hidden;
  }

  .remove-button {
    position: absolute;
    font-weight: bolder;
    color: $grey-placeholder-text;
    background-color: $white;
    width: 20px;
    height: 16px;
    border: none;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 6px;
    opacity: 0;
    transition: opacity 200ms;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) {
  .item-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 424px;

    .img-container {
      width: 100%;
      height: 50%;
    }
    .infos-container {
      width: 288px;
      height: 212px;
    }
  }
  .remove-button {
    left: 0;
  }
}

@media screen and (max-width: 350px) {
  .item-container {
    width: 100%;

    .infos-container {
      width: 100%;
    }
  }
}
