.tourist-attractions-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px 24px;
}

@media screen and (max-width: 1200px) {
  .tourist-attractions-grid {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

@media screen and (max-width: 605px) {
  .tourist-attractions-grid {
    width: 343px;
    gap: 24px;
  }
}

@media screen and (max-width: 350px) {
  .tourist-attractions-grid {
    width: 260px;
  }
}
