.tourist-attractions-form {
  width: 722px;
  display: grid;
  align-items: center;
  grid-template-areas:
    "a b"
    "a c"
    "none d";
  gap: 17px 19px;

  #img-input-container {
    grid-area: a;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    width: 288px;
    height: 212px;
    border: 2px solid $grey-100;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
      .img-input-size-recomendation {
        opacity: 1;
      }
    }
    .img-input-size-recomendation {
      text-align: center;
      font-size: 12px;
      position: absolute;
      bottom: 0;
      color: $grey-placeholder-text;
      opacity: 0;
      transition: 200ms;
    }

    .img-input-placeholder {
      color: $grey-placeholder-text;
    }

    #img-input {
      position: absolute;
      width: 288px;
      height: 212px;
      border-radius: 8px;
      opacity: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  #title-input {
    grid-area: b;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height: 54px;
    width: 326px;
    border: 2px solid $grey-100;
    border-radius: 4px;
    padding: 4px;
    &::placeholder,
    &::-webkit-input-placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      padding: 15px;
    }
  }

  #description-input {
    position: relative;
    grid-area: c;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height: 131px;
    width: 415px;
    border: 2px solid $grey-100;
    border-radius: 4px;
    resize: none;
    &::placeholder,
    &::-webkit-input-placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      padding-left: 19px;
      padding-top: 36.4px;
    }
  }

  #submit-button {
    grid-area: d;
    justify-self: flex-end;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $white;
    height: 56px;
    width: 121px;
    border: none;
    border-radius: 8px;
    background-color: $red-100;
    transition: background-color 100ms;

    &:hover {
      background-color: $red-300;
      cursor: pointer;
    }

    &:active {
      background-color: $red-100;
    }
  }
}
@media screen and (max-width: 820px) {
  .tourist-attractions-form {
    width: 100%;
    grid-template-columns: 288px auto;
    #title-input {
      justify-self: flex-start;
      width: 78.5%;
    }
    #description-input {
      justify-self: flex-start;
      width: 100%;
    }
  }
}
@media screen and (max-width: 605px) {
  .tourist-attractions-form {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    #title-input,
    #description-input,
    #submit-button {
      width: 341px;
    }

    #submit-button {
      &:hover {
        background-color: $red-100;
      }
      &:active {
        background-color: $red-300;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .tourist-attractions-form {
    width: 260px;
    grid-template-columns: 1fr;
    #title-input,
    #description-input,
    #submit-button {
      width: 260px;
    }

    #img-input-container {
      width: 260px;
      #img-input {
        width: 260px;
      }
    }
  }
}
