.snack-bar-hidden {
  position: fixed;
  top: -70px;
  right: 100px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: flex;
  gap: 10px;
  height: 60px;
  width: 300px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.068);
  border: 1px solid $grey-100;
  border-radius: 8px;
  color: $grey-placeholder-text;
  padding: 10px;
  background-color: $white;
  transition: 300ms;
  z-index: 2;
}
.snack-bar-active {
  top: 10px;
}
.snack-bar-icon {
  width: 40px;
}
@media screen and (max-width: 1000px) {
  .snack-bar-hidden {
    right: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
}
@media screen and (max-width: 600px) {
  .snack-bar-hidden {
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
  }
  .snack-bar-active {
    top: 5px;
  }
}
