.flex-col {
  width: 1176px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.page-titles {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 38.4px;
}

@media screen and (max-width: 1200px) {
  .flex-col {
    width: 100%;
  }
}

@media screen and (max-width: 605px) {
  .flex-col {
    width: 343px;
  }
}

@media screen and (max-width: 350px) {
  .flex-col {
    width: 260px;
  }
}
