body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 190px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 1200px) {
  main {
    width: 90%;
  }
}
@media screen and (max-width: 770px) {
  main {
    width: 90%;
  }
}
@media screen and (max-width: 605px) {
  body {
    padding-top: 16px;
    padding-bottom: 33px;
  }
  main {
    gap: 68px;
    width: 100%;
  }
}
